body {
    background-image: url("/unit-4-game/assets/images/bg.jpg");
    background-repeat: repeat;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: black;
}

img {
    width: 100px;
}

div {
    /* border: 1px solid black; */
    align-content: center;
    text-align: center;
    margin: 0;
    background: white;
}

.container {
    width: 600px;
    align-content: center;
    margin: 20px auto;
    border-top: 1px solid rgb(91, 22, 105);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 74px;
    padding-top: 45px;
    padding-bottom: 40px;
}

h2 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-weight: bolder;
    padding-top: 10px;
}

#instructions {
    border-top: 1px solid rgb(91, 22, 105);
    background-color: lavenderblush;
    padding: 10px 40px;
}

#targetScore, #yourScore, #scoreBoard {
    background-color: lavender;
    font-size: 19px;
    line-height: 38px;
    padding-bottom: 17px;
    text-transform: uppercase;
    border: 5px solid white;
}

.bigScore {
    font-size: 120px;
    line-height: 70px;
    padding-bottom: 40px;
    font-family: 'Playfair Display', serif;
    color: rgb(91, 22, 105);
}

#one, #two, #three, #four {
    padding: 20px 0;
}

.wins, .losses {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    line-height: 54px;
}